extends layout

block content
    div(id='map_canvas')
    div(id='description')
        div(id='title') Urbana &#8594 Los Angeles in real time. <span id="client_count">1 user</span> watching right now.
        div(id='hint') Hint: Zoom in and/or change map type to see more detail and actually watch the line move if we're moving. S'cool I promise.
